.filmPage {
  width: 100%;
  background: #282c34;
  display: flex;
  flex-direction: column;
}

.filmPage .subTxt {
  height: 45vh;
  width: 90.4%;
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../assets/images/filmography.jpg);
  background-position: 0 120em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmPage .subTxt h3 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: 400;
  margin-bottom: 0.3em;
}

.mainContent {
  margin-top: 0.2em;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainContent .leftCard {
  margin: 0.2em;
  display: flex;
  width: 45%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.555);
}

.mainContent .leftCard .imgCard {
  width: 50%;
  display: flex;
}

.mainContent .leftCard .imgCard img {
  width: 100%;
}

.mainContent .descCard {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em 1em 1em 1em;
  text-align: center;
}

.mainContent .descCard h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.mainContent .descCard h4 {
  font-size: 1rem;
  font-weight: 400;
}

.mainContent .descCard h5 {
  font-weight: 400;
  font-size: 1rem;
}

.mainContent .descCard p.description {
  line-height: 1.5em;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Right Side */

.mainContent .rightCard {
  margin: 0.2em;
  display: flex;
  width: 45%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.555);
}

.mainContent .rightCard .imgCard {
  width: 50%;
  display: flex;
}

.mainContent .rightCard .imgCard img {
  width: 100%;
}

.mainContent .descCard .descCardTtl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.mainContent .descCard .descBtn {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.mainContent .descCard .descBtn a {
  margin: 0.2em 0;
  text-decoration: none;
  color: whitesmoke;
  background-color: #282c34;
  padding: 0.5em;
  text-align: center;
  border-radius: 0.3em;
  transition: 0.3s;
}

.mainContent .descCard .descBtn a:hover {
  color: black;
  background-color: whitesmoke;
}
