.mainBody {
  width: 100%;
  background: #16191f;
  overflow: hidden;
}

.mainBody .topFoot {
  padding: 5em 1em 3em 7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.mainBody .topFoot .logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3em;
  text-align: center;
}

.mainBody .topFoot .logo h3 {
  color: whitesmoke;
  font-size: 2.8em;
}

.mainBody .topFoot .logo p {
  color: whitesmoke;
}

.mainBody .topFoot .options {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 70%;
}

.mainBody .topFoot .options .shop {
  width: 30%;
}

.mainBody .topFoot .options .theater {
  width: 30%;
}

.mainBody .topFoot .options .optionsLikeNav {
  width: 30%;
  align-self: center;
}

.mainBody .topFoot .options p {
  color: whitesmoke;
  font-style: italic;
  margin: 0.3em 0;
}

.mainBody .topFoot .options li {
  list-style: none;
}

.mainBody .topFoot .options li a {
  text-decoration: none;
  font-weight: 500;
  color: #7f7f7f;
  transition: 0.3s;
}

.mainBody .topFoot .options li a:hover {
  color: whitesmoke;
}

.mainBody .topFoot .options h4 {
  font-size: 1.8em;
  color: whitesmoke;
}

.mainBody span {
  display: block;
  margin: auto;
  width: 80%;
  height: 0.2em; /*or whatever width you want the effect of <hr>*/
  background: #7f7f7f;
}

.mainBody .botFoot {
  width: 12%;
  margin: auto;
  padding-top: 7em;
}

.mainBody .botFoot ul {
  display: flex;
  justify-content: space-between;
}

.mainBody .botFoot li {
  list-style: none;
}

.mainBody .botFoot img {
  width: 1.8em;
  filter: invert(44%) sepia(98%) saturate(20%) hue-rotate(83deg) brightness(95%) contrast(83%);
  transition: 0.2s;
}

.mainBody .botFoot img:hover {
  filter: invert(99%) sepia(9%) saturate(62%) hue-rotate(297deg) brightness(113%) contrast(92%);
}

.mainBody .botFoot p {
  padding-top: 1em;
  padding-bottom: 10em;
  text-align: center;
  color: whitesmoke;
  font-size: 0.8em;
}
