.mainBody {
  width: 100%;
  background: #16191f;
}

.mainBody .topFoot {
  padding: 5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.mainBody .topFoot .logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3em;
  text-align: center;
}

.mainBody .topFoot .logo h3 {
  color: whitesmoke;
  font-size: 2.8em;
}

.mainBody .topFoot .logo p {
  color: whitesmoke;
}

.mainBody .topFoot .options {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 70%;
}

.mainBody .topFoot .options .shop {
  width: 30%;
}

.mainBody .topFoot .options .theater {
  width: 30%;
}

.mainBody .topFoot .options .optionsLikeNav {
  width: 30%;
  align-self: center;
}

.mainBody .topFoot .options p {
  color: whitesmoke;
  font-style: italic;
  margin: 0.3em 0;
}

.mainBody .topFoot .options li {
  list-style: none;
}

.mainBody .topFoot .options li a {
  text-decoration: none;
  font-weight: 500;
  color: #7f7f7f;
  transition: 0.3s;
}

.mainBody .topFoot .options li a:hover {
  color: whitesmoke;
}

.mainBody .topFoot .options h4 {
  font-size: 1.8em;
  color: whitesmoke;
}
