/* .container {
  position: absolute;

  width: 80%;
} */
.navbar {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  padding: 1.5em 2.5em;
}

.navbar .logo {
  color: white;
}

.navbar .listOptions ul li {
  display: inline-block;
  list-style: none;
}

.navbar .listOptions ul li a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0em 1.5em;
}
