/* .container {
  position: absolute;

  width: 80%;
} */
.navbar {
  margin: auto;
  display: flex;
  /* position: absolute; */
  width: 90.6%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0em;
}

.navbar .logo {
  color: white;
  font-size: 1.8rem;
}

.navbar .listOptions ul li {
  display: inline-block;
  list-style: none;
}

.navbar .listOptions ul li a {
  color: #5e5e5e;
  text-decoration: none;
  margin: 0em 1.5em;
  transition: 0.3s;
}

.navbar .listOptions ul li a:hover {
  color: whitesmoke;
}
